$primary-color: #2c324a;
$secondary_color: #85889e;

$original_width: 1728;

@mixin makeBall($index, $width) {
  &:nth-child(#{$index}) {
    width: calc(100dvw * #{$width} / $original_width);
    background-image: url("/gradients/bg-#{$index}.png");
  }
}

.home-page {
  .ant-float-btn {
    border: 1px solid #01112b;
    &-body {
      background-color: #10f5ff;

      &:hover {
        background-color: #10f5ff;
      }

      span {
        color: #01112b;
      }
    }
  }

  .header {
    padding-top: 20px;
    padding-bottom: 20px;

    .logo {
      @media screen and (max-width: 370px) {
        h2 {
          display: none;
        }
      }
    }

    .burger-menu {
      background-color: transparent !important;
      color: #fff !important;
      outline: none !important;
      border: none !important;
      font-size: 25px;
    }

    .links {
      a {
        transition: 0.4s ease;
        color: #fff;
        font-weight: 300;
        font-size: 18px;
        line-height: 24px;
        letter-spacing: 0%;
        vertical-align: middle;

        &:hover {
          color: #10f5ff;
        }
      }

      @media screen and (max-width: 1420px) {
        display: none;
      }
    }
  }

  .video-container {
    position: relative;
    width: 100%;
    height: calc(100dvh - 94px);
    overflow: hidden;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: center;
    color: white;

    .ball-container {
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      pointer-events: none;
      z-index: 1;
    }

    .ball {
      position: absolute;
      background-color: #10f5ff;
      border-radius: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%);
      will-change: transform;
      aspect-ratio: 1 / 1;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      min-width: 35px;
      transition: 0.4s ease;

      &:nth-child(2) > img {
        visibility: hidden;
      }

      &:nth-child(5) > img {
        visibility: hidden;
      }

      &:nth-child(7) > img {
        visibility: hidden;
      }

      @keyframes scalable_ball {
        from {
          transform: scale(1);
        }
        to {
          transform: scale(1.1);
        }
      }

      img {
        max-width: 48px;
        width: 70%;
      }

      @include makeBall(1, 88);
      @include makeBall(2, 132);
      @include makeBall(3, 132);
      @include makeBall(4, 60);
      @include makeBall(5, 81);
      @include makeBall(6, 97);
      @include makeBall(7, 88);
      @include makeBall(8, 88);
      @include makeBall(9, 97);
    }

    /* Text Styling */
    .video-text-content {
      position: absolute;
      top: 50%;
      transform: translate(0%, -50%);
      z-index: 1;
      text-align: left;
      max-width: min(990px, calc(100% - 12px));
      align-items: flex-start;
      padding-right: 0 !important;

      .view-video-btn {
        padding: 67px 88px;
        background: url("/videos/bg-1.mp4");
        overflow: hidden;
        position: relative;
        border-radius: 170px;
        max-width: 100%;

        @media screen and (max-width: 300px) {
          padding: 8px 12px;
        }
        @media (min-width: 301px) and (max-width: 599px) {
          padding: 10px 14px;
        }
        @media (min-width: 600px) and (max-width: 1380px) {
          padding: 15px 18px;
        }

        * {
          color: #fff;
        }

        &__background-video {
          object-fit: contain;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          width: 100%;
          aspect-ratio: 16 / 9;
        }

        button {
          padding: 16px;
          background: #8080804d;
          background-blend-mode: luminosity;
          border: 1.4px solid;
          overflow: hidden;
          border-image-source: linear-gradient(
            156.52deg,
            rgba(255, 255, 255, 0.4) 2.12%,
            rgba(255, 255, 255, 0.0001) 39%,
            rgba(255, 255, 255, 0.0001) 54.33%,
            rgba(255, 255, 255, 0.1) 93.02%
          );
          backdrop-filter: blur(100px);
          border-radius: 119px;
        }
      }

      h1 {
        font-size: 120px;
        line-height: 120px;
        color: #fff;
        text-transform: uppercase;
        span {
          font-size: inherit;
          line-height: inherit;
          font-family: inherit;
        }

        @media screen and (max-width: 330px) {
          font-size: 20px;
          line-height: 23px;
        }
        @media (min-width: 331px) and (max-width: 599px) {
          font-size: 37px;
          line-height: 42px;
        }
        @media (min-width: 600px) and (max-width: 1380px) {
          font-size: 52px;
          line-height: 58px;
        }
      }

      span.ant-typography {
        font-size: 18px;
        line-height: 24px;
        color: #fff;
        max-width: min(100%, 550px);
        padding: 16px 24px;
        background: #8080804d;
        background-blend-mode: luminosity;
        border: 1.4px solid #ffffff25;
        backdrop-filter: blur(12px);
        border-radius: 119px;

        @media screen and (max-width: 330px) {
          padding: 8px 12px;
          border-radius: 20px;
          font-size: 11px;
          line-height: 15px;
        }
        @media (min-width: 331px) and (max-width: 599px) {
          padding: 8px 12px;
          border-radius: 18px;
          font-size: 14px;
          line-height: 20px;
        }
        @media (min-width: 600px) and (max-width: 1380px) {
          padding: 10px 14px;
          border-radius: 22px;
          font-size: 16px;
          line-height: 23px;
        }
      }
    }

    .video-box {
      position: relative;

      .background-video {
        display: block;
        position: relative;
        max-height: calc(100dvh - 94px);
        width: 100dvw;
        // height: 100%;
        object-fit: cover;
        z-index: -1;
        aspect-ratio: 16 / 9;
      }

      /* Gradient Overlay for Fade Effect */
      .video-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          180deg,
          #01112b 0%,
          #01112b 35%,
          rgba(255, 255, 255, 0) 93.52%
        );
        z-index: 0;
      }
    }
  }

  .specialities {
    padding-top: 80px;
    margin-bottom: 106px;
    text-align: center;
    * {
      color: #fff;
    }

    .content {
      align-items: center;
      h1 {
        margin: 0;
        font-weight: 400;
        font-size: 120px;
        line-height: 120px;
        text-transform: uppercase;
        max-width: fit-content;
        width: 100%;

        @media screen and (max-width: 330px) {
          font-size: 20px;
          line-height: 23px;
        }
        @media screen and (max-width: 599px) {
          font-size: 30px;
          line-height: 35px;
        }
        @media (min-width: 600px) and (max-width: 1380px) {
          font-size: 50px;
          line-height: 58px;
        }
      }

      span:not(.main-text) {
        text-align: left;
        font-weight: 400;
        font-style: italic;
        font-size: 20px;
        line-height: 24.76px;
        width: fit-content !important;
        // margin: auto;
        min-width: 200px;
        max-width: (600px);

        @media screen and (max-width: 330px) {
          font-size: 12px;
          line-height: 13px;
        }
        @media screen and (max-width: 599px) {
          font-size: 15px;
          line-height: 21px;
        }
        @media (min-width: 600px) and (max-width: 1380px) {
          font-size: 18px;
          line-height: 24px;
        }

        strong {
          font-style: italic;
          font-weight: 400;
          color: $primary-color;
        }
      }
    }

    .speciality-cards {
      align-items: flex-start;

      .speciality-card {
        text-align: left;
        padding: 24px;
        border-radius: 32px;
        background: radial-gradient(
          128.62% 214.84% at 100% 100%,
          rgba(99, 84, 255, 0.1) 0%,
          rgba(98, 84, 255, 0) 100%
        );
        border: none;
        flex: 1;
        min-width: 300px;
        max-width: max(500px, 33%);
        box-shadow: -6px -6px 16px 0px #ffffff0d inset;

        * {
          color: #fff;
        }

        .ant-image {
          width: 100%;
        }

        .title-text {
          margin: 0;
          font-size: 32px;
          line-height: 32px;
        }

        .ant-card-body {
          padding: 0;
        }
      }
    }
  }

  .video-section {
    padding-top: 30px;
    padding-bottom: 90px;

    .padding-box {
      & > div {
        width: 100% !important;
        max-width: 1400px;
        margin: auto;
        height: auto !important;
        aspect-ratio: 1280 / 720;
        overflow: hidden;
        border-radius: 8px;

        .react-player__play-icon {
          border-width: 50px 0 50px 100px !important;

          @media screen and (max-width: 800px) {
            border-width: 25px 0 25px 50px !important;
          }
        }
      }

      .title-text {
        width: 100% !important;
        margin: auto !important;
        font-weight: 400;
        font-size: 90px;
        line-height: 90px;
        text-transform: uppercase;
        max-width: fit-content;
        width: 100%;

        @media screen and (max-width: 330px) {
          font-size: 20px;
          line-height: 23px;
        }
        @media screen and (max-width: 599px) {
          font-size: 30px;
          line-height: 35px;
        }
        @media (min-width: 600px) and (max-width: 1380px) {
          font-size: 50px;
          line-height: 58px;
        }
      }
    }
  }

  .prizes {
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #ecf5ff;

    canvas {
      height: 100%;
    }

    .prizes-title {
      font-weight: 400;
      font-size: 258px;
      line-height: 100%;
      letter-spacing: 6%;
      text-align: center;
      vertical-align: middle;
      text-transform: uppercase;
      background: url("/videos/bg-2.gif"),
        linear-gradient(106.42deg, #ca8ded 9.26%, #3c2dcb 102.11%); /* Fallback */
      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @media screen and (max-width: 330px) {
        font-size: 50px;
      }
      @media (min-width: 331px) and (max-width: 599px) {
        font-size: 80px;
      }
      @media (min-width: 600px) and (max-width: 1380px) {
        font-size: 140px;
      }
    }

    .ant-typography {
      margin: 0;
    }

    .main-prize-card {
      border: 0;
      padding: 72px 32px;
      width: 100%;
      border-radius: 32px;
      overflow: hidden;

      @media screen and (max-width: 330px) {
        padding: 36px 16px;
        border-radius: 10px;
      }
      @media (min-width: 331px) and (max-width: 599px) {
        border-radius: 16px;
      }

      .badge-container {
        .ant-image {
          max-width: 240px;

          @media screen and (max-width: 330px) {
            max-width: 100px;
          }
          @media (min-width: 331px) and (max-width: 599px) {
            max-width: 120px;
          }
          @media (min-width: 600px) and (max-width: 1380px) {
            max-width: 170px;
          }
        }
      }

      .ant-card-body {
        padding: 0;
      }

      .prize-title {
        text-align: left;

        h2 {
          font-size: 120px;
          line-height: 120px;
          background: linear-gradient(
            106.42deg,
            #ca8ded 9.26%,
            #3c2dcb 102.11%
          );
          background-size: cover;
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;

          @media screen and (max-width: 330px) {
            font-size: 28px;
            line-height: 28px;
          }
          @media (min-width: 331px) and (max-width: 599px) {
            font-size: 38px;
            line-height: 40px;
          }
          @media (min-width: 600px) and (max-width: 1380px) {
            font-size: 65px;
            line-height: 58px;
          }
        }

        h1 {
          font-size: 55px;
          line-height: 48px;
          color: #068eff;
          font-weight: 900;

          @media screen and (max-width: 330px) {
            font-size: 28px;
            line-height: 30px;
          }
          @media (min-width: 331px) and (max-width: 599px) {
            font-size: 40px;
            line-height: 45px;
          }
        }
      }

      .prize-content {
        .image-container {
          width: 100%;
          aspect-ratio: 49 / 17;

          .ant-image {
            width: 100%;

            img {
              transition: 0.6s ease;
              will-change: transform;
            }

            @keyframes drive_car {
              0% {
                transform: translateX(0) scale(1);
                opacity: 1;
              }
              59% {
                transform: translateX(-150%) translateY(100%) scale(1.9);
                opacity: 1;
                filter: blur(2px);
              }
              60% {
                opacity: 0;
              }
              65% {
                opacity: 0; /* Hide the car */
                transform: translateX(90%) translateY(-100%) scale(0.1);
              }
              100% {
                opacity: 1; /* Show again */
                transform: translateX(0) scale(1);
                filter: blur(0px);
              }
            }

            // .activated {
            //   animation: 4s ease-in-out drive_car;
            // }
          }
        }

        .prize-info {
          max-width: 750px;
          width: 100%;

          h1 {
            padding: 0 20px;
            font-weight: 500;
            font-size: 85px;
            line-height: 92.48px;
            font-style: italic;
            background: linear-gradient(
              90deg,
              #0090f7 8%,
              #ba62fc 33.33%,
              #f2416b 66.67%,
              #f55600 100%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: text_animation 3s infinite alternate;

            @media screen and (max-width: 330px) {
              font-size: 20px;
              line-height: 23px;
            }
            @media (min-width: 331px) and (max-width: 599px) {
              font-size: 30px;
              line-height: 35px;
            }
          }

          span {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $primary-color;

            @media screen and (max-width: 330px) {
              font-size: 12px;
              line-height: 15px;
            }
            @media (min-width: 331px) and (max-width: 599px) {
              font-size: 15px;
              line-height: 21px;
            }

            strong {
              font-weight: 700;
            }

            &.spoiler {
              color: $secondary_color;
            }
          }
        }
      }
    }

    .prize-card-container {
      width: 100%;

      @media screen and (max-width: 900px) {
        flex-direction: column;
      }

      & > *,
      .other-cards > *:first-child {
        flex: 1;
      }

      .prize-card {
        border-radius: 32px;
        border-width: 1px;
        border-color: #f0f0f0;
        padding: 32px;
        min-width: 300px;
        width: 100%;
        overflow: hidden;

        @media screen and (max-width: 330px) {
          padding: 16px;
          border-radius: 12px;
        }
        @media (min-width: 331px) and (max-width: 599px) {
          padding: 24px;
          border-radius: 16px;
        }

        .badge-container {
          .ant-image {
            width: 100%;
            max-width: 135px;
          }
        }

        .ant-card-body {
          padding: 0;
          height: 100%;

          & > .ant-flex {
            height: 100%;
            justify-content: space-between;

            h2 {
              font-weight: 500;
              font-size: 48px;
              line-height: 52.22px;

              .main-text {
                color: #068eff !important;
              }

              .secondary-text {
                color: #85889e !important;
              }

              @media screen and (max-width: 330px) {
                font-size: 18px;
                line-height: 22px;
              }
              @media (min-width: 331px) and (max-width: 599px) {
                font-size: 25px;
                line-height: 30px;
              }
              @media (min-width: 600px) and (max-width: 1380px) {
                font-size: 35px;
                line-height: 40px;
              }
            }

            h3 {
              color: $primary-color;
              font-weight: 700;
              font-size: 24px;
              line-height: 26.11px;

              @media screen and (max-width: 330px) {
                font-size: 20px;
                line-height: 23px;
              }
              @media (min-width: 331px) and (max-width: 599px) {
                font-size: 25px;
                line-height: 30px;
              }
            }

            .prize-info {
              font-size: 16px;
              line-height: 24px;
              color: #86868b;

              @media screen and (max-width: 330px) {
                font-size: 12px;
                line-height: 15px;
              }
              @media (min-width: 331px) and (max-width: 599px) {
                font-size: 14px;
                line-height: 20px;
              }

              strong {
                font-weight: 400;
                color: $primary-color;
              }
            }
          }
        }

        &.money-card {
          .badge-container {
            .ant-image {
              max-width: 85px;
            }
          }
          .prize-img {
            .ant-image {
              width: 37%;
              min-width: 200px;
            }
            h1 {
              font-size: 150px;
              line-height: 150px;
              background: linear-gradient(
                  106.42deg,
                  #ca8ded 9.26%,
                  #3c2dcb 102.11%
                ),
                radial-gradient(
                  12.6% 15.82% at 10.43% 16.91%,
                  #ffffff 0%,
                  rgba(255, 255, 255, 0) 100%
                );

              background-size: cover;
              background-clip: text;
              -webkit-background-clip: text;
              -webkit-text-fill-color: transparent;
              height: 180px;

              @media screen and (max-width: 330px) {
                font-size: 50px;
                line-height: 55px;
                height: auto;
              }
              @media (min-width: 331px) and (max-width: 599px) {
                font-size: 65px;
                line-height: 70px;
                height: auto;
              }
              @media (min-width: 600px) and (max-width: 1380px) {
                font-size: 95px;
                height: auto;
                line-height: 100px;
              }

              span {
                color: #85889e;
                -webkit-text-fill-color: #85889e;
                font-weight: 500;
                font-size: 32px;
              }
            }
          }
        }

        &.extra-card {
          background-image: url("/gradients/bg-10.png");
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;

          .prize-info {
            color: #2c324a !important;
          }

          .badge-container {
            .ant-image {
              max-width: 111px;
            }
            h2 {
              .main-text {
                color: #fff !important;
                text-shadow: 0 0 10px #000;
              }
            }
          }
        }
      }
    }
  }

  .participants {
    padding-top: 120px;
    padding-bottom: 120px;
    h1 {
      width: 100%;
      color: #fff;
      font-size: 120px;
      line-height: 120px;

      @media screen and (max-width: 330px) {
        font-size: 40px;
        line-height: 45px;
      }
      @media (min-width: 331px) and (max-width: 599px) {
        font-size: 50px;
        line-height: 55px;
      }
      @media (min-width: 600px) and (max-width: 1380px) {
        font-size: 65px;
        line-height: 73px;
      }
    }

    .cards-container {
      .participant-card {
        text-align: left;
        padding: 24px 24px 47px 24px;
        border-radius: 24px;
        background: radial-gradient(
          128.62% 214.84% at 100% 100%,
          rgba(99, 84, 255, 0.1) 0%,
          rgba(98, 84, 255, 0) 100%
        );
        border: none;
        flex: 1;
        min-width: 300px;
        max-width: max(500px, 33%);
        box-shadow: -6px -6px 16px 0px #ffffff0d inset;

        .video-box {
          width: 100%;
          aspect-ratio: 21 / 25;
          padding: 40px;
          // overflow: hidden;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            background-image: url("/images/border_img.svg");
            background-repeat: no-repeat;
            background-size: 99%;
            background-position: center;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
          }

          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 1;
          }
        }

        * {
          color: #fff;
        }

        .title-text {
          color: #10f5ff;
          font-size: 32px;
          line-height: 35px;
          font-weight: 500;
        }

        span.ant-typography {
          font-size: 18px;
          line-height: 24px;
          font-weight: 300;
        }

        .ant-image {
          width: 100%;
        }

        .title-text {
          margin: 0;
          font-size: 32px;
          line-height: 32px;
        }

        .ant-card-body {
          padding: 0;
        }
      }
    }
  }

  .statistics {
    background-color: #fff;
    padding-top: 128px;
    padding-bottom: 120px;

    .title-text {
      font-size: 120px;
      line-height: 120px;
      text-align: left;

      @media screen and (max-width: 330px) {
        font-size: 40px;
        line-height: 45px;
      }
      @media (min-width: 331px) and (max-width: 599px) {
        font-size: 50px;
        line-height: 55px;
      }
      @media (min-width: 600px) and (max-width: 1380px) {
        font-size: 65px;
        line-height: 73px;
      }
    }

    .background-video {
      @media screen and (max-width: 330px) {
        width: 50px;
      }
      @media (min-width: 331px) and (max-width: 599px) {
        width: 60px;
      }
      @media (min-width: 600px) and (max-width: 1380px) {
        width: 70px;
      }
    }

    .map {
      width: 100%;

      & > * {
        flex: 1;
      }

      .ant-switch {
        background-color: #78788029;
        min-width: 51px;
        height: 31px;

        &-checked {
          background-color: #51abff;

          .ant-switch-handle {
            inset-inline-start: calc(100% - 30px);
          }
        }

        .ant-switch-handle {
          box-shadow: 0px 3px 1px 0px #0000000f, 0px 3px 8px 0px #00000026,
            0px 0px 0px 1px #0000000a;
          width: 27px;
          height: 27px;
          border-radius: 50%;

          &::before {
            border-radius: 50%;
          }
        }
      }
    }

    .stat-board {
      min-width: 300px;

      .selected-location {
        font-size: 36px;
        line-height: 100%;
        letter-spacing: 0%;
        vertical-align: middle;
        text-transform: uppercase;
        color: #2c324a;
      }

      .stat-item {
        flex: 1;
        border: 1px solid;
        padding: 24px;
        border-radius: 24px;
        min-width: 200px;

        &:nth-child(1) {
          background-color: #d6f2ff;
          border-color: #edfaff;
          h4 {
            color: #007aff;
          }
        }

        &:nth-child(2) {
          background-color: #dff9e5;
          border-color: #e6ffec;
          h4 {
            color: #34c759;
          }
        }

        &:nth-child(3) {
          background-color: #f6eafd;
          border-color: #f5e3ff;
          h4 {
            color: #af52de;
          }
        }

        h4 {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          vertical-align: middle;
          text-transform: uppercase;
          margin: 0;
        }

        .total-num {
          font-weight: 400;
          font-size: 40px;
          line-height: 100%;
          vertical-align: middle;
          text-transform: uppercase;
          color: #2c324a;
        }

        h5 {
          font-family: Rubik;
          font-weight: 600;
          font-size: 16px;
          line-height: 100%;
          vertical-align: middle;
          color: #2c324a;
          margin: 0;
        }

        .stat-num {
          font-weight: 400;
          font-size: 32px;
          line-height: 100%;
          vertical-align: middle;
          text-transform: uppercase;
          color: #65698a;
        }
      }
    }

    .region_map {
      width: 100%;
      height: auto;
      stroke: #ffffff;
      stroke-width: 1;
      stroke-linecap: round;
      stroke-linejoin: round;
      min-width: min(500px, 100%);
    }

    .region_map__location {
      fill: #2b3974;
      cursor: pointer;
    }

    .region_map__location:focus,
    .region_map__location:hover {
      fill: #0164b4;
      outline: 0;
    }

    .region_map__location[aria-checked="true"] {
      fill: #068eff;
    }

    .region_map__tooltip {
      position: fixed;
      width: fit-content;
      padding: 10px;
      border: 1px solid darkgray;
      background-color: white;
      border-radius: 6px;
    }

    .map_title {
      margin-bottom: 2rem;
    }
  }

  .news {
    padding-top: 120px;
    padding-bottom: 40px;

    h1 {
      width: 100%;
      color: #fff;
      font-size: 120px;
      line-height: 120px;

      @media screen and (max-width: 330px) {
        font-size: 40px;
        line-height: 45px;
      }
      @media (min-width: 331px) and (max-width: 599px) {
        font-size: 55px;
        line-height: 60px;
      }
      @media (min-width: 600px) and (max-width: 1380px) {
        font-size: 65px;
        line-height: 73px;
      }
    }

    * {
      color: #fff;
    }

    .cards-container {
      .news-card {
        text-align: left;
        padding: 25px 25px 22px 25px;
        border-radius: 24px;
        background: radial-gradient(
          128.62% 214.84% at 100% 100%,
          rgba(99, 84, 255, 0.1) 0%,
          rgba(98, 84, 255, 0) 100%
        );
        border: none;
        flex: 1;
        min-width: 300px;
        box-shadow: -6px -6px 16px 0px #ffffff0d inset;
        max-width: max(500px, 33%);

        .card-box {
          height: 100%;

          .ant-flex:nth-child(2) {
            height: 100%;
          }
        }

        span.ant-typography {
          font-size: 18px;
          line-height: 24px;
          font-weight: 300;

          @media screen and (max-width: 330px) {
            font-size: 14px;
            line-height: 20px;
          }
          @media (min-width: 331px) and (max-width: 599px) {
            font-size: 16px;
            line-height: 22px;
          }
        }

        .ant-image {
          width: 100%;
          border-radius: 8px;
          overflow: hidden;
        }

        h2 {
          margin: 0;
          font-size: 24px;
          line-height: 30px;
          color: #10f5ff;

          @media screen and (max-width: 330px) {
            font-size: 16px;
            line-height: 23px;
          }
          @media (min-width: 331px) and (max-width: 599px) {
            font-size: 18px;
            line-height: 23px;
          }
          @media (min-width: 600px) and (max-width: 1380px) {
            font-size: 22px;
            line-height: 28px;
          }
        }

        .ant-card-body {
          height: 100%;
          padding: 0;
        }
      }
    }
  }

  .rules {
    padding-top: 120px;
    padding-bottom: 40px;

    iframe {
      height: 80dvh !important;
    }

    h1 {
      width: auto;
      color: #fff;
      font-size: 120px;
      line-height: 120px;

      @media screen and (max-width: 330px) {
        font-size: 40px;
        line-height: 45px;
      }
      @media (min-width: 331px) and (max-width: 599px) {
        font-size: 55px;
        line-height: 60px;
      }
      @media (min-width: 600px) and (max-width: 1380px) {
        font-size: 65px;
        line-height: 73px;
      }
    }

    * {
      color: #fff;
    }
  }

  .motto {
    width: 100%;
    aspect-ratio: 12 / 5;
    position: relative;
    margin-top: 80px;

    @media screen and (max-width: 330px) {
      aspect-ratio: 1 / 2;
    }
    @media (min-width: 331px) and (max-width: 599px) {
      aspect-ratio: 2 / 3;
    }
    @media (min-width: 600px) and (max-width: 1380px) {
      aspect-ratio: 1 / 1;
    }

    .background-video {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      z-index: 0;
    }

    /* Gradient Overlay for Fade Effect */
    .video-overlay {
      position: absolute;
      width: 100%;
      height: 30%;
      left: 0;
      z-index: 0;

      &.overlay-1 {
        top: 0;
        background: linear-gradient(0deg, rgba(1, 17, 43, 0) 0%, #01112b 100%);
      }

      &.overlay-2 {
        bottom: 0;
        background: linear-gradient(
          180deg,
          rgba(1, 17, 43, 0) 0%,
          #01112b 100%
        );
      }
    }

    h1 {
      margin: 0;
      text-align: center;
      background: linear-gradient(180deg, #004c94 17.79%, #a6ccee 90%);
      font-size: 130px;
      z-index: 10;

      background-size: cover;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px white;

      @media screen and (max-width: 330px) {
        font-size: 60px;
        line-height: 65px;
      }
      @media (min-width: 331px) and (max-width: 599px) {
        font-size: 65px;
        line-height: 75px;
      }
      @media (min-width: 600px) and (max-width: 1380px) {
        font-size: 95px;
        line-height: 103px;
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #01112b;
    margin-top: 120px;
    padding: 48px 0 24px;
    width: 100%;

    * {
      color: #fff;
      img:not([alt="logo"]) {
        filter: brightness(0) invert(1);
      }
    }

    .ant-typography {
      margin: 0;
    }

    .footer-main {
      row-gap: 40px !important;

      & > * {
        flex: 1;
        min-width: 300px;
      }

      .footer-logo {
        margin-top: 21px;

        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
        }
      }

      .footer-social {
        row-gap: 40px !important;

        & > * {
          flex: 1;
          min-width: 220px;
        }

        h3 {
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
        }

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 16px;

          a {
            padding: 0;
            color: inherit !important;
          }
        }
      }
    }
  }
}

@keyframes text_animation {
  0% {
    background-position: -12px 0px;
  }
  100% {
    background-position: 12px 0px;
  }
}
