$primary-color: #2c324a;
$secondary_color: #85889e;

.home-page {
  .header {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .video-container {
    position: relative;
    width: 100%;
    height: calc(100vh - 96px);
    overflow: hidden;
    align-items: center;
    text-align: center;
    color: white;
  }

  .background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    // object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  /* Gradient Overlay for Fade Effect */
  .video-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 1),
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0)
    );
    z-index: 0;
  }

  /* Text Styling */
  .video-text-content {
    position: relative;
    z-index: 1;
    margin-top: 100px;
    align-items: center;

    h1 {
      font-size: 64px;
      line-height: 72px;
      color: $primary-color;
    }

    span {
      font-size: 18px;
      line-height: 24px;
      color: $primary-color;
      max-width: min(100%, 550px);
    }
  }

  .specialities {
    margin-top: 47px;
    text-align: center;

    .speciality-cards {
      .ant-tag {
        border: none;
        margin: 0;
        border-radius: 24px;
        padding: 12px 24px;
        font-weight: 500;
        font-size: 18px;
        line-height: 19.58px;
        letter-spacing: 0%;
      }

      .speciality-card:nth-child(1) .ant-tag {
        background-color: #f6b8ff;
        color: #8f51f5;
      }

      .speciality-card:nth-child(2) .ant-tag {
        background-color: #ebf2ee;
        color: #56946f;
      }

      .speciality-card:nth-child(3) .ant-tag {
        background-color: #48d2ff33;
        color: #38c6ff;
      }
    }

    .speciality-card {
      padding: 32px;
      border-radius: 32px;
      background-color: #f7f7f7;
      border: none;
      flex: 1;
      min-width: 300px;
    }
  }

  .prizes {
    margin-top: 88px;

    .ant-typography {
      margin: 0;
    }

    .main-prize-card {
      border: 0;
      padding: 32px;

      .ant-card-body {
        padding: 0;
      }

      .prize-title {
        h2 {
          font-size: 40px;
          line-height: 50px;
          color: $primary-color;
        }

        h1 {
          font-size: 72px;
          line-height: 78.34px;
          color: #1bca92;
          font-family: Archivo;
          font-weight: 900;
          text-align: center;
        }
      }

      .prize-content {
        .ant-image {
          max-width: 752px;
          width: 100%;
        }

        .prize-info {
          max-width: 750px;
          width: 100%;

          h1 {
            padding: 0 20px;
            font-weight: 500;
            font-size: 85px;
            line-height: 92.48px;
            font-style: italic;
            background: linear-gradient(
              90deg,
              #0090f7 8%,
              #ba62fc 33.33%,
              #f2416b 66.67%,
              #f55600 100%
            );
            background-clip: text;
            -webkit-text-fill-color: transparent;
            animation: text_animation 2s infinite alternate;
          }

          span {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $primary-color;

            strong {
              font-weight: 700;
            }

            &.spoiler {
              color: $secondary_color;
            }
          }
        }
      }
    }

    .prize-card-container {
      .prize-card:nth-child(2) {
        max-width: 490px;
      }

      .prize-card {
        border-radius: 32px;
        border-width: 1px;
        border-color: #f0f0f0;
        padding: 32px;
        flex: 1;
        min-width: 300px;
        width: 100%;

        .ant-card-body {
          padding: 0;
          height: 100%;

          & > .ant-flex {
            height: 100%;
            justify-content: space-between;

            h2 {
              font-family: "Archivo Black", serif;
              font-weight: 500;
              font-size: 48px;
              line-height: 52.22px;
              color: #ffa115;
            }

            h3 {
              color: $primary-color;
              font-weight: 700;
              font-size: 24px;
              line-height: 26.11px;
            }

            .prize-info {
              font-size: 16px;
              line-height: 24px;
              color: #86868b;

              strong {
                font-weight: 400;
                color: $primary-color;
              }
            }
          }
        }
      }
    }
  }

  .steps {
    margin-top: 120px;
    text-align: center;

    .ant-typography {
      margin: 0;
    }

    ul {
      list-style: none;
    }

    .steps-title {
      h2 {
        color: $primary-color;
        font-weight: 400;
        font-size: 48px;
        line-height: 52.22px;
      }

      span {
        color: $primary-color;
        font-size: 18px;
        line-height: 24px;
      }
    }

    .steps-container {
      .step-item {
        align-items: center;

        &.third-item .step-cards > .ant-flex {
          justify-content: center;
        }

        &:nth-child(2),
        &:nth-child(3) {
          gap: 24px !important;
        }

        .step-info {
          max-width: 980px;
          width: 100%;

          h3 {
            font-weight: 400;
            font-size: 32px;
            line-height: 34.82px;
            color: #1bca92;
          }

          span {
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            color: $primary-color;

            strong {
              font-weight: 700;
            }
          }
        }

        ul {
          display: flex;
          flex-direction: column;
          gap: 4px;

          li > span {
            font-weight: 400;
            font-style: italic;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: $primary-color;
          }
        }

        .step-main {
          align-items: center;
          width: 100%;

          & > span {
            font-style: italic;
            font-size: 20px;
            line-height: 24px;
            color: $secondary_color;
            max-width: 890px;
            width: 100%;

            strong {
              font-style: italic;
              font-weight: 400;
              color: #2c324a;
            }
          }

          .step-cards {
            width: 100%;

            .first-step-card,
            .second-step-card,
            .third-step-card {
              flex: 1;
              width: 100%;
              min-width: 300px;
              padding: 32px;
              border-radius: 32px;

              .ant-card-body {
                padding: 0;
              }
            }

            .first-step-card {
              & > .ant-image {
                max-width: 200px;
                width: 100%;
              }

              .step-card-info {
                text-align: left;

                h4 {
                  color: $primary-color;
                  font-weight: 700;
                  font-size: 24px;
                  line-height: 26.11px;
                }

                span {
                  color: #86868b;
                  font-weight: 500;
                  font-size: 16px;
                  line-height: 24px;
                }
              }

              .card__specialities {
                width: 100%;

                & > .ant-flex {
                  align-items: center;

                  span {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 19.58px;
                  }

                  &:nth-child(1) > span {
                    color: #8f51f5;
                  }

                  &:nth-child(2) > span {
                    color: #56946f;
                  }

                  &:nth-child(3) > span {
                    color: #38c6ff;
                  }
                }

                .ant-image {
                  max-width: 48px;
                  width: 100%;
                }
              }
            }

            .second-step-card {
              &:hover .participant-number h1 {
                color: #1bca92 !important;
                -webkit-text-stroke-color: transparent !important;
              }

              &:nth-child(1) .card-speciality span {
                color: #8f51f5;
              }

              &:nth-child(2) .card-speciality span {
                color: #56946f;
              }

              &:nth-child(3) .card-speciality span {
                color: #41ccff;
              }

              .ant-card-body {
                padding: 0;

                .card-speciality {
                  .ant-image {
                    max-width: 48px;
                    width: 100%;
                  }

                  span {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 19.58px;
                  }
                }

                .participant-number {
                  h1 {
                    font-weight: 400;
                    font-size: 116px;
                    line-height: 126.21px;
                    color: transparent;
                    -webkit-text-stroke: 2px #1bca92;
                    transition: 0.4s ease;
                  }

                  span {
                    font-weight: 900;
                    font-size: 18px;
                    line-height: 19.58px;
                    color: #1bca92;
                  }
                }

                .card__participants {
                  background-color: #f7f7f7;
                  padding: 12px;
                  border-radius: 24px;
                  text-align: left;

                  & > .ant-flex {
                    align-items: center;

                    strong {
                      font-weight: 600;
                      font-size: 24px;
                      line-height: 26.11px;
                      color: #1bca92;
                    }

                    .ant-image {
                      max-width: 28px;
                      width: 100%;
                    }

                    span {
                      font-size: 16px;
                      line-height: 19.58px;
                      color: #2c324a;
                    }
                  }
                }
              }
            }

            & > .ant-flex:last-child .third-step-card:last-child {
              max-width: 488px;
            }

            .third-step-card {
              text-align: left;

              .card-header {
                width: 100%;

                h2 {
                  font-weight: 400;
                  font-size: 160px;
                  line-height: 174.08px;
                  color: #4b51ec;
                }

                .ant-image {
                  max-width: 200px;
                  width: 100%;
                }
              }

              span {
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $secondary_color;

                strong {
                  font-weight: 400;
                  color: $primary-color;
                }
              }
            }
          }
        }

        .step-details {
          margin-top: 8px;

          .details-item {
            text-align: left;
            border-radius: 32px;
            padding: 32px;
            background-color: #f7f7f7;

            h4 {
              font-weight: 600;
              font-size: 20px;
              line-height: 24px;
              color: #2c324a;
            }

            ul {
              gap: 16px;
              list-style: disc;
              margin-left: 16px;
            }

            span {
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
              color: #86868b !important;
              font-style: normal;

              strong {
                font-weight: 400;
                color: #2c324a;
              }

              .important {
                color: #ffa115 !important;
              }
            }
          }
        }
      }
    }
  }

  .faq {
    margin-top: 120px;

    .ant-typography {
      margin: 0;
    }

    h1 {
      color: $primary-color;
      font-size: 48px;
      line-height: 52.22px;
    }

    .ant-collapse {
      width: 100%;
      border: none;
      background-color: transparent;

      .ant-collapse-item {
        border-radius: 0;
        border: none;
        border-top: 2px solid #f0f0f0;

        .ant-collapse-header {
          padding: 28px 0;

          &-text {
            color: $primary-color;
            font-size: 18px;
            line-height: 32.4px;
          }

          .ant-collapse-expand-icon {
            .anticon {
              font-size: 40px;
              color: #dfdfdf;
            }
          }
        }

        .ant-collapse-content-box {
          padding: 28px 25px;
        }
      }
    }
  }

  .footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f8f9fb;
    margin-top: 120px;
    padding: 48px 0 24px;
    width: 100%;

    * {
      color: $primary-color;
    }

    .ant-typography {
      margin: 0;
    }

    .footer-main {
      row-gap: 40px !important;

      & > * {
        flex: 1;
        min-width: 300px;
      }

      .footer-logo {
        margin-top: 21px;

        span {
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
        }
      }

      .footer-social {
        row-gap: 40px !important;

        & > * {
          flex: 1;
          min-width: 220px;
        }

        h3 {
          font-weight: 600;
          font-size: 20px;
          line-height: 28px;
        }

        span {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }

        ul {
          list-style: none;
          display: flex;
          flex-direction: column;
          gap: 16px;

          a {
            padding: 0;
            color: inherit !important;
          }
        }
      }
    }
  }
}

@keyframes text_animation {
  0% {
    background-position: -12px 0px;
  }
  100% {
    background-position: 12px 0px;
  }
}
