.applications-page {
  width: 100%;
  height: 100%;

  .applications-main {
    height: 100%;

    &.view-application {
      .sort-container {
        button {
          height: 48px;
          min-width: 32px;
          border-radius: 100px;
          padding: 14px 24px;
          border: 1px solid var(--border-color-select-input, #d8dce6);

          // &:hover {
          //   color: inherit;
          // }

          color: #b3b8cc;
        }
      }

      .create-btn {
        border-radius: 16px;
        padding: 16px 24px;
        background-color: #068eff;
        height: 56px;
        transition: background-color 0.4s ease;

        &:hover {
          background-color: #068fffc5;
        }
      }
    }

    &.create-application {
      @mixin hover_bg() {
        &:has(.ant-radio-checked) {
          background-color: #edfaff;
          border: 1px solid #068eff !important;
        }

        cursor: pointer;
        background-color: #f7f7f7;
        border-radius: 24px;
        padding: 16px;
        transition: background-color 0.4s ease;

        &:not(:has(.ant-radio-checked)):hover {
          background-color: #f7f7f765;
        }
      }

      form {
        padding-bottom: 50px;

        .select-role {
          flex: 1;
          min-height: 120px;
          min-width: min(100%, 250px);
          @include hover_bg();

          span {
            font-weight: 400;
            font-size: 14px;
            line-height: 120%;
            letter-spacing: 0%;
            color: #85889e;

            strong {
              font-weight: 600;
              font-size: 18px;
              color: #2c324a;
            }
          }
        }

        .select-speciality {
          min-width: min(100%, 150px);
          max-width: 300px;
          flex: 1;
          @include hover_bg();

          strong {
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #2c324a;
          }
        }

        .ant-divider {
          &::before {
            display: none;
          }

          span {
            padding: 0 1em 0 0;
            font-weight: 500;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0%;
            color: #2c324a;
          }
        }

        .ant-input {
          height: 56px;
          border-radius: 16px;
          border-width: 1px;
          padding: 16px 12px;
          border-color: #d8dce6;
        }
        textarea.ant-input {
          min-height: 170px;
        }
      }

      .step-1 {
        .ant-form-item {
          flex: 1;
          min-width: calc(50% - 30px);

          @container dashboard-content (max-width: 600px) {
            min-width: 100%;
          }
        }
      }

      .step-2 {
        .upload-file {
          flex: 1;

          & > * {
            background-color: #f8f9fb;
            border-radius: 16px;
          }

          .upload-container {
            padding: 24px;
            text-align: left;

            .upload-title {
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
              letter-spacing: 0.2px;
              color: #2c324a;
            }

            button {
              padding: 0;
              span {
                font-family: Rubik;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0%;
                text-decoration: underline;
                text-decoration-style: solid;
              }
            }
          }

          .download {
            padding: 8px;
            max-width: 128px;

            strong {
              font-weight: 500;
              font-size: 14px;
              line-height: 16px;
              letter-spacing: 0.2px;
            }

            a {
              min-height: 32px;
              width: 100%;
              background-color: #ffec41;
              border: none;
              border-radius: 119px;
            }
          }
        }
      }

      .ant-form-item {
        margin: 0;

        .ant-col {
          flex: none;
        }
      }

      .continue-btn {
        margin-top: 8px;
        min-height: 56px;
        border-radius: 16px;
        padding: 16px 24px;
      }
    }

    .applications-container {
      height: 100%;
    }
  }
}
