@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  scrollbar-width: thin;
  scrollbar-color: #10f3ffc0 transparent;
}

.ant-typography,
a {
  font-family: "Rubik", sans-serif;
}

body {
  overflow-x: hidden;
  min-height: 95dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:has(.home-page) {
    background-color: #01112b;
  }

  &:has(.anticon.anticon-loading) {
    background-color: #01112b;
  }

  .anticon.anticon-loading {
    font-size: 70px;
    color: #10f3ff;
  }

  #root {
    overflow-x: hidden;
    width: 100%;
  }

  .ant-drawer-content-wrapper {
    .ant-drawer-content {
      background-color: #01112b;

      * {
        color: #fff;
      }
    }
  }
}
