@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "Archivo", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.root-layout {
  .padding-box {
    width: 100%;
    padding: 0 18px;
    max-width: 1216px;
  }

  .title-text {
    font-family: "Archivo Black", serif;
    font-weight: 400;
    font-style: normal;
  }

  .main-btn {
    border-radius: 16px;
    padding: 11px 24px;
    box-sizing: content-box;
    span {
      font-size: 16px;
      line-height: 24px;
    }
    transition: background-color 0.4s ease;
    border: none !important;

    @media screen and (max-width: 330px) {
      padding: 5px 12px;
      border-radius: 8px;
      span {
        font-size: 12px;
      }
    }

    @media screen and (max-width: 480px) {
      padding: 8px 16px;
      border-radius: 10px;
      span {
        font-size: 15px;
      }
    }

    &.primary-btn {
      background-color: #1bca92;
      span {
        color: #2d324b;
      }

      &:hover {
        background-color: #2d324b;
        span {
          color: #1bca92;
        }
      }
    }
  }

  .scalable-card {
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    &:hover {
      transform: scale(1.02);
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.05);
    }
  }

  .main-logo {
    h2 {
      font-family: Archivo;
      font-weight: 800;
      font-style: italic;
      font-size: 32px;
      line-height: 34.82px;
      letter-spacing: 0%;
      color: #2c324a;

      @media screen and (max-width: 330px) {
        font-size: 15px;
        line-height: 15px;
      }

      @media screen and (max-width: 480px) {
        font-size: 17px;
        line-height: 20px;
      }
    }
  }
}
