body:has(.expert-layout) {
  min-height: 100dvh !important;

  #root {
    max-height: 100dvh;
    overflow: hidden;

    .root-layout {
      height: 100dvh;

      .expert-layout {
        max-height: 100dvh;
        height: 100%;
        background-color: #fafafa;

        .expert-header {
          background-color: #fff;
          border-bottom: 1px solid #e4e4e4;
          padding: 12px 18px;

          .main-logo {
            * {
              color: #18006e;
            }
            svg path {
              fill: #18006e !important;
            }
          }
        }

        .expert-layout-main {
          max-height: calc(100dvh - 75px);
          min-height: calc(100dvh - 75px);

          .expert-navbar {
            border-right: 1px solid #e4e4e4;
            background-color: #fff;
            padding: 18px 12px;
            height: 100%;
            max-height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            min-width: min(240px, 30%);
            max-width: min(240px, 30%);

            .ant-menu {
              border: none;
              display: flex;
              flex-direction: column;
              gap: 12px;

              li {
                margin: 0;
                user-select: none;
              }
            }
          }

          .expert-layout-content {
            width: 100%;
            padding: 24px 12px;
            container-type: inline-size;
            overflow-y: auto;
            scrollbar-color: #9b9b9b99 transparent;

            .application-container {
              width: 100%;

              @media screen and (max-width: 1400px) {
                flex-direction: column;
                gap: 28px !important;

                .check-box {
                  order: 1;
                  position: relative !important;

                  textarea {
                    width: min(600px, 100%) !important;
                  }
                }

                .main-details {
                  order: 2;
                }
              }

              .check-box {
                background-color: #fff;
                min-width: min(400px, 100%);
                border-radius: 8px;
                padding: 18px 12px;
                border: 2px solid #f0f0f0;
                max-height: calc(100dvh - 125px);
                position: sticky;
                top: 0px;

                & > .result-table {
                  overflow-y: auto;
                  scrollbar-color: #9b9b9b99 transparent;
                  padding: 10px 8px;
                  padding-bottom: 40px;

                  textarea {
                    width: min(200px, 100%);
                  }
                }
              }

              .main-details {
                width: 100%;

                .ant-descriptions {
                  .ant-descriptions-extra {
                    margin-right: auto;
                    margin-left: 0;
                  }
                }

                .ant-tabs {
                  width: 100%;

                  .ant-tabs-nav {
                    margin: 0;

                    .ant-tabs-tab {
                      position: relative;
                      &-active::before {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        background-color: #1677ff;
                      }

                      &:has(.active) {
                        background-color: rgb(133, 243, 179);
                      }
                      &:has(.inactive) {
                        background-color: rgb(243, 138, 155);
                      }
                    }
                  }

                  .ant-tabs-content-holder {
                    padding: 10px;
                    background-color: #fcfcfc;
                    border-left: 1px solid #f0f0f0;
                    border-bottom: 1px solid #f0f0f0;
                    border-right: 1px solid #f0f0f0;
                    border-radius: 0 0 8px 8px;

                    .document-viewer {
                      width: 100%;
                      height: calc(90dvh - 100px) !important;
                    }
                  }
                }
              }

              table {
                min-width: 320px !important;
                .file_name {
                  width: 100px;
                }

                .file_id {
                  max-width: 48px;
                  width: 48px;
                }
              }

              .rejected-reason {
                textarea {
                  width: min(400px, 100%) !important;
                }
              }
            }

            .application-controls {
              justify-content: right;

              .ant-input-search {
                flex: 1;
                min-width: min(200px, 100%);
                max-width: 500px;
              }

              .ant-select {
                min-width: min(180px, 100%);
                max-width: min(180px, 100%);
              }
            }

            .ant-table-wrapper {
              width: 100%;

              .ant-table {
                overflow-x: auto;

                table {
                  min-width: 450px;
                }

                .ant-table-thead {
                  .ant-table-cell {
                    background-color: #fefefe;
                  }
                }

                .application_detail {
                  max-width: 80px;
                  min-width: 80px;
                  text-align: center;
                }

                .application_name {
                  min-width: 200px;
                }
              }
            }
          }
        }
      }
    }
  }
}
